<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base href="/KnjizaraProjekat/">
	<link rel="stylesheet" type="text/css" href="css/TabelaKnjiga.css"/>
	<link rel="stylesheet" type="text/css" href="css/navbar.css"/>
	<link rel="stylesheet" type="text/css" href="css/footer.css"/>
	<link rel="stylesheet" type="text/css" href="css/login.css"/>
	
	<title>Prijava korisnika</title>
</head>
<body>
	<nav th:fragment="navbar" style="background:#865439">
		<input type="checkbox" id="check">
		<label for="check" class="checkBtn">
			<i class="fas fa-bars" id="activeBars"></i>
		</label>
		<label class="logo">LOGO</label>
		<ul>
			<li th:if="${session.prijavljeniKorisnik == null}"><a href="login.html">Prijava</a></li>
			<li th:if="${session.prijavljeniKorisnik == null}"><a href="registracija.html">Registracija</a></li>
		</ul>
	</nav>
	
	<div class="center">
		<h1>Login</h1>
		<form method="post" action="Korisnici/Login">
			<div class="txt_field">
				<input type="text" name="korisnickoIme" class="placeholder-stuff" placeholder="Korisnicko Ime" onfocus="this.placeholder=''" onblur="this.placeholder='Korisnicko Ime'" autocomplete="off" required>
				<span></span>				
			</div>
			<div class="txt_field">
				<input type="password" name="lozinka" placeholder="Lozinka" onfocus="this.placeholder=''" onblur="this.placeholder='Lozinka'" required>
				<span></span>
			</div>
			<div class="pass">Forgot password?</div>
			<input type="submit" value="Login">
			<div class="signup_link">
				Nemate nalog?<a href="registracija.html">Registracija</a>
			</div>
		</form>
	</div>
	
	<p class="greska"></p>	
	
	<footer th:fragment="footer" style="background:#865439">
		 <div class="footer_adress" style="margin: 15px 50px">
            <h1> Logo </h1>
            <h2>Contact: 065/333-9208</h2>
            <address>
            	Miloska ulica 3, Novi Sad
            <br>
            </address>
            <a class="email_btn" href="mailto:example@gmail.com" style="color:white; margin-top:15px; background:none">Email Us</a>
            
        </div>
        
        <ul class="footer_nav">
            <li class="nav_item">
                <h2 class="nav_title" style="margin-top:15px">Media</h2>
                <ul class="nav_ul">
                    <li>
                        <a href="#">Online</a>
                    </li>
                    <li>
                        <a href="#">Print</a>
                    </li>
                    <li>
                        <a href="#">Alternative Ads</a>
                    </li>
                    <li>
                        <a href="#">Become sponsor</a>
                    </li>
                </ul>
            </li>

            <li class="nav_item nav_item--extra">
                <h2 class="nav_title" style="margin-top:15px">Usluge</h2>
                <ul class="nav_ul nav_ul--extra">
                    <li>
                        <a href="#">Kupujte kod nas</a>
                    </li>
                    <li>
                        <a href="#">Iznajmljujte</a>
                    </li>
                    <li>
                        <a href="#">Narucujte</a>
                    </li>
                    <li>
                        <a href="#">Sedite</a>
                    </li>
                    <li>
                        <a href="#">Ocenjujte</a>
                    </li>
                    <li>
                        <a href="#">Uzivajte</a>
                    </li>
                </ul>
            </li>

            <li class="nav_item">
                <h2 class="nav_title" style="margin-top:15px">Legal</h2>

                <ul class="nav_ul">
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Terms of Use</a>
                    </li>
                    <li>
                        <a href="#">Security</a>
                    </li>
                    <li>
                        <a href="#">Report</a>
                    </li>
                </ul>
            </li>
            
        </ul>
	    <hr style="margin-top:15px;">
        <div class="legal" style="margin-top:25px; margin-bottom:15px">
            <span>
            	&copy; 2019 Barcode. All rights reserved for owner.
            </span>
            <div class="legal_links">
                <span>
                	Made by owner of everything
                </span>
            </div>
        </div>
	         
	</footer>
	
</body>
</html>