
html{
    scroll-behavior: smooth;
    font-size: 100%;
}

footer{
	display:flex;
	flex-flow: row wrap;
    /*background-color:#865439;
    background-color:#bc6c25;*/
    background-color:#865439;
    margin-top:40px;
	color: white;
	border-top: 1px solid #e5e5e5;
}

body{
    font-family: acumin-pro, system-ui, sans-serif;
    margin:0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    align-items: start;
    min-height: 100vh;
}

*,*:before, *:after{
    box-sizing: border-box;
}

footer > *{
	flex: 1 100%;
}

.nav_ul a:hover{
    color:white;
    background:none;
}

.footer_nav{
	display:flex;
    flex-flow:row wrap;
    
}

.footer_nav > *{
    flex: 1 40%;
    margin-right:1.25em;
}

.legal{
    color:#2f2f2f;
    align-content: center;
    margin-top:20px;
}

.legal_links {
    align-items:center;
    align-content: center;
    align-items: center;
}

.legal span{
    align-items:center;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.nav_title{
	margin-top:15px;
	font-weight: 300;
    font-size: 17px;
    margin-left: 60px;
    color:white;
}
footer ul{
    list-style: none;
    padding-left:5px;
}

footer li{
    line-height: 2em;
}

.footer_adress{
    margin:50px 50px;
}

footer li a{
    text-decoration: none;
    color:#2f2f2f;
}

.nav_ul--extra{
    column-count: 2;
    column-gap: 5px;
}

.email_btn{
    color:white;
    text-decoration: none;
    border-radius: 100px;
    justify-content: center;
    max-width: max-content;
    margin: 0.6em 0;
    color:white;
}

h1 .footer_logo{
    font-weight: 400;
    font-size: 1.5rem;
    text-decoration: underline;
}

.footer_adress address{
    font-style: normal;
    color:white;
    font-weight: 300;
}

.footer_adress h2{
    font-style: normal;
    color:white;
    margin-top: 0.4em;
    font-size: 18px;
    font-weight: 400;
}

.footer_adress h1{
    font-style: normal;
    color:white;
}

@media screen and (min-width: 390px){
    .legal .legal_links{
        margin-left:auto;
    }
}

@media screen and (min-width:640px){
    .footer_nav > *{
        flex:1;
    }
    .nav_item--extra{
        flex-grow:1;
    }
    .footer_adress{
        flex: 1 0px;
    }
    .footer_nav{
        flex: 2 0px;
    }
}

@media(max-width:768px){
    .footer_nav > *{
        flex:1;
    }
    .nav_item--extra{
        flex-grow:2;
    }
    .footer_adress{
        flex: 2 0px;
    }
    .footer_nav{
        flex: 1 0px;
    }
    .legal_links{
        margin-bottom: 20px;
    }
    .legal{
        margin-top: 20px;
    }
    .nav_title h2{
		font-weight: 300;
	    font-size: 17px;
	    margin-left: 7px;
	    color:blue;
	}
}


