.main{
    background: #dda15e;
    padding: 10rem 0;
}

.main__container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content{
    color: #fff;
    width:100%;
}

.main__content h1{
    font-size:1.7rem;
    background-color: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
    color: #fff;
    
}

.main__content h2{
    font-size:4rem;
    background: #fefae0;
     background-size: 100%;
     -webkit-background-clip: text;
     -moz-background-clip: text;
     -webkit-text-fill-color: transparent;
     -moz-text-fill-color:transparent;
}

.main__content p{
    margin-top:1rem;
    font-size:1.8rem;
    font-weight:700;
}

.main__btn{
    font-size:1.4rem;
    background: #283618;
    background: -webkit-linear-gradient(to right, #283618, #606c38, #fefae0);
    padding: 20px 60px;
    border:none;
    border-radius: 14px;
    color:#fff;
    margin-top: 2rem;
    cursor:pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a{
    position:relative;
    z-index:2;
    color:#fff;
    text-decoration: none;
}

.main__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #606c38;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover{
    color:#fff;

}

.main__btn:hover:after{
    width: 100%;    
}

.main__img--container{
    text-align: center;
}

.main__img--card{
    margin:10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#fff;
    background: #ff512f;
    background: -webkit-linear-gradient(to right, #fefae0, #606c38);
    background: linear-gradient(to right, #606c38, #283618);
}

.fa-layer-group, .fa-users{
    font-size: 14rem;
}

#card-2{
    background: #ff512f;
    background: -webkit-linear-gradient(to right, #fefae0, #606c38);
    background: linear-gradient(to right, #606c38, #283618);
}


@media screen and (max-width:1100px){
    .main__container{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
    }

    .main__img--container{
        display: flex;
        justify-content: center;
    }

    .main__img--card{
        height: 425px;
        width: 425px;
    }
    .main__content{
        text-align: center;
        margin-bottom:4rem;
    }

    .main__content h1{
        font-size: 2.5rem;
        margin-top:2rem;
    }

    .main__content h2{
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
    }

    .main__btn{
        padding:12px 36px;
        margin: 2.5rem 0;
    }

}


/*Services tj poslagane kartice*/

.services{
    background: #dda15e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 7rem 0;
}

.services h1{
    background-color: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    margin-bottom: 5rem;
    font-size: 2.4rem;
}

.services__wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.services__card{
    margin:10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff  100%);
    transition: 0.3s ease-in;
}

.services__card:nth-child(2){
    background: #636363;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a2ab58, #636363);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a2ab58, #636363); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.services__card:nth-child(3){
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.services__card h2{
    text-align: center;

    
}

.services__card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}

.services__btn{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.services__card button{
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #131313;
    font-size: 1rem;
}

.services__card button:hover{
    cursor: pointer;
}

.services__card:hover{
    transform:scale(1.090);
    transition: 0.3s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 1300px){
    .services__wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px){
    .services__wrapper{
        grid-template-columns: 1fr;
    }
}