<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/footer.css"/>
	<title>Footer</title>
</head>
<body>
	<footer th:fragment="footer">
		 <div class="footer_adress" style="margin: 15px 50px">
            <h1> Logo </h1>
            <h2>Contact: 065/333-9208</h2>
            <address>
            	Miloska ulica 3, Novi Sad
            <br>
            </address>
            <a class="email_btn" href="mailto:example@gmail.com" style="color:white; margin-top:15px; background:none">Email Us</a>
            
        </div>
        
        <ul class="footer_nav">
            <li class="nav_item">
                <h2 class="nav_title" style="margin-top:15px">Media</h2>
                <ul class="nav_ul">
                    <li>
                        <a href="#">Online</a>
                    </li>
                    <li>
                        <a href="#">Print</a>
                    </li>
                    <li>
                        <a href="#">Alternative Ads</a>
                    </li>
                    <li>
                        <a href="#">Become sponsor</a>
                    </li>
                </ul>
            </li>

            <li class="nav_item nav_item--extra">
                <h2 class="nav_title" style="margin-top:15px">Usluge</h2>
                <ul class="nav_ul nav_ul--extra">
                    <li>
                        <a href="#">Kupujte kod nas</a>
                    </li>
                    <li>
                        <a href="#">Iznajmljujte</a>
                    </li>
                    <li>
                        <a href="#">Narucujte</a>
                    </li>
                    <li>
                        <a href="#">Sedite</a>
                    </li>
                    <li>
                        <a href="#">Ocenjujte</a>
                    </li>
                    <li>
                        <a href="#">Uzivajte</a>
                    </li>
                </ul>
            </li>

            <li class="nav_item">
                <h2 class="nav_title" style="margin-top:15px">Legal</h2>

                <ul class="nav_ul">
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Terms of Use</a>
                    </li>
                    <li>
                        <a href="#">Security</a>
                    </li>
                    <li>
                        <a href="#">Report</a>
                    </li>
                </ul>
            </li>
            
        </ul>
	    <hr style="margin-top:15px;">
        <div class="legal" style="margin-top:25px; margin-bottom:15px">
            <span>
            	&copy; 2019 Barcode. All rights reserved for owner.
            </span>
            <div class="legal_links">
                <span>
                	Made by owner of everything
                </span>
            </div>
        </div>
	         
	</footer>
</body>
</html>