<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<base href="/KnjizaraProjekat/">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/navbar.css"/>
	<link rel="stylesheet" type="text/css" href="css/footer.css"/>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<title th:text="#{index.pageTitle}">Pocetna</title>
</head>
<body>
	<div th:insert="navbar :: navbar">...</div>
	
	<div>
		<h4 th:text="#{lang.change}"></h4>
		<ul>
			<li><a href="Index/menjajLokalizacijuNaSrpski" th:text="#{lang.sr}"></a></li>
			<li><a href="Index/menjajLokalizacijuNaEngleski" th:text="#{lang.eng}"></a></li>
		</ul>
	</div>
	
	<table th:if="${session.prijavljeniKorisnik == null}" class="position-center">
		<tr>
			<th th:text="#{knjige.notLoggedIn}"></th>
		</tr>
		<tr>
			<td>
				<ul>
					<li><a href="registracija.html">Registracija</a></li>
					<li><a href="login.html">Prijava</a></li>
				</ul>
			</td>
		</tr>
	</table>
	
	
	
	<table th:if="${session.prijavljeniKorisnik != null}">
		<tr>
			<th th:text="#{knjige.loggedIn}"></th><td><a th:href="|Korisnici/Details?korisnickoIme=${session.prijavljeniKorisnik.korisnickoIme}|" th:text="${session.prijavljeniKorisnik.korisnickoIme}"></a>.</td>
		</tr>
		<tr>
			<td colspan="2">
				<ul>
					<li><a href="Korisnici/Logout" th:text="#{knjige.logOut}"></a></li>
				</ul>
			</td>
		</tr>
	</table>
		
	<br>
	
	<br>
	<table th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga != 'administrator'}">
		<tr>
			<th th:text="#{log.loggedIn}"></th>
		</tr>
		<tr>
			<td>
				<ul>
					<li><a href="Knjige">Knjige</a>
					<li><a href="KorisnickaKorpa">Prikazi korisnicku korpu</a>
					<li><a href="ZahtevLoyaltyKartice">Zahtev za loyalty karticu</a>
				</ul>
			</td>
		</tr>
	</table>
	
	<table th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'administrator'}">
		<tr>
			<th>Prijavljen si</th>
		</tr>
		<tr>
			<td>
				<ul>
					<li><a href="Knjige">Knjige</a></li>
					<li><a href="Korisnici">Korisnici</a></li>
					<li><a href="Komentari">Komentari</a>
					<hr width="100%"/>
					<li><a href="LoyaltyKartice">Loyalty Kartice</a></li>
					<li><a href="Izvestaj">Izvestavanje</a>
					<hr width="100%"/>
					<li><a href="#">Tabelarni prikaz godine i datumi</a>
					<li><a href="KnjigeIsbn">Pretraga po ISBN-u</a>
				</ul>
			</td>
		</tr>
	</table>


	<div th:insert="footer :: footer">...</div>
	

</body>
</html>