<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="#{knjige.pageTitle}"></title>
	<link rel="stylesheet" type="text/css" href="css/TabelaKnjiga.css"/>
	<link rel="stylesheet" type="text/css" href="css/navbar.css"/>
	<link rel="stylesheet" type="text/css" href="css/footer.css"/>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<script src="js/lokacijaJS.js"></script>
</head>
<body>
	<div th:insert="navbar :: navbar">...</div>
	<div style="float:right">
			<h4 th:text="#{lang.change}"></h4>
		<ul>
			<li><a href="Knjige/menjajLokalizacijuNaSrpski" th:text="#{lang.sr}"></a></li>
			<li><a href="Knjige/menjajLokalizacijuNaEngleski" th:text="#{lang.eng}"></a></li>
		</ul>
	</div>
	
	<br><br>
	<form method="get" name="formaPretraga">
		<table class="tabela" style="margin-left: auto; margin-right: auto;">
			<caption th:text="#{knige.naslov}"><b></b></caption>
			<tr>
				<th th:text="#{knjige.naziv}"></th>
				<th>Isbn</th>
				<th th:text="#{knjige.autor}"></th>
				<th th:text="#{knjige.cena}"></th>
				<th th:text="#{knjige.jezik}"></th>
				<th th:text="#{knjige.prosecnaOcena}"></th>
				<th th:text="#{knjige.zanr}"></th>
				<th th:text="#{knjige.pretraga}"></th>
			</tr>
			<tr>
				<th><input type="search" name="naziv" th:value="${param.naziv?: null}"/></th>
				<th th:if="${session.prijavljeniKorisnik.uloga == 'administrator'}" ><input type="search" name="isbn" th:value="${param.isbn}?: null"/></th>
				<th th:if="${session.prijavljeniKorisnik.uloga == 'kupac'}" ></th>
				<th><input type="search" name="autor" th:value="${param.autor}?: null"/></th>
				<th>
					od:<input type="number" th:value="${param.cenaOd?: '0.0'}" min="0" step="0.1" name="cenaOd"/>
					<br/>
					do:<input type="number" th:value="${param.cenaDo?: '5000.0'}" min="0" step="0.1" name="cenaDo"/>
				</th>
				<th><input type="search" name="jezik" th:value="${param.jezik}?: null"/></th>
				<th><input type="search" name="prosecnaOcena" th:value="${param.prosecnaOcena}?: null"/></th>
				<th>
					<select name="zanrId">
						<option value="">Odaberi zanr</option>
						<option th:each="itZanr: ${zanrovi}" th:value="${itZanr.id}" th:text="${itZanr.ime}" th:selected="${#strings.equals(itZanr.id, param.zanrId)}"></option>
					</select>
				</th>
				<th><input type="submit" value="Pretraži"/></th>
			</tr>
		</form>
		
			<tr th:each="itKnjiga, status: ${knjige}" th:if="${itKnjiga.brojPrimeraka != 0}">
				<td><a th:href="|Knjige/Details?naziv=${itKnjiga.naziv}|"th:text="${itKnjiga.naziv}"></a></td>
				<td th:text="${itKnjiga.isbn}"></td>
				<td th:text="${itKnjiga.autor}"></td>
				<td class="broj" th:text="${itKnjiga.cena}"></td>
				<td th:text="${itKnjiga.jezik}"></td>
				<td th:text="${itKnjiga.prosecnaOcena}"></td>
				<td>
					<ul>
						<li th:each="itZanr: ${itKnjiga.zanrovi}" th:text="${itZanr.ime}"></li>
					</ul>
				</td>
			</tr>
		</table>
		
	<br>
	<ul>
		<li><a href="Knjige/Create" th:text="#{knjige.dodaj}"></a></li>
		<li><a href="KorisnickaKorpa" th:text="#{Pregledaj korisnicku korpu}" ></a></li>
	</ul>
	
	<div th:insert="footer :: footer">...</div>
	
</body>
</html>