<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<base href="/KnjizaraProjekat/">
	<meta charset="UTF-8">
	<title>Pojedinacna knjiga</title>
	<link rel="stylesheet" type="text/css" href="css/TabelaKnjiga.css"/>
	<link rel="stylesheet" type="text/css" href="css/navbar.css"/>
	<link rel="stylesheet" type="text/css" href="css/footer.css"/>
	<link rel="stylesheet" type="text/css" href="css/dugmad.css"/>
	<link rel="stylesheet" type="text/css" href="css/book-info.css"/>
</head>

<body>

	<div th:insert="navbar :: navbar">...</div>

	<form method="post" action="Knjige/Edit" th:if="${session.prijavljeniKorisnik != null}">
		<table border="1" class="centriraj-odmakni-gore" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'administrator'}">
			<caption th:text="#{knjiga.pageTitle}" style="font-size: 18px"></caption>
			<tr><th>Id</th><td><input type="number" th:value="${knjiga.id}" name="id"/></td></tr>
			<tr><th th:text="#{knjiga.naziv}"></th><td><input type="text" th:value="${knjiga.naziv}" name="naziv"/></td></tr>
			<tr><th>Isbn:</th><td><input type="number" th:value="${knjiga.isbn}" name="isbn"></td></tr>
			<tr><th th:text="#{knjiga.izdavackaKuca}"></th><td><input type="text" th:value="${knjiga.izdavackaKuca}" name="izdavackaKuca"/></td></tr>
			<tr><th th:text="#{knjiga.autor}"></th><td><input type="text" th:value="${knjiga.autor}" name="autor"/></td></tr>
			<tr><th th:text="#{knjiga.godinaIzdavanja}"></th><td><input type="date" th:value="${#temporals.format(knjiga.godinaIzdavanja, 'yyyy-MM-dd')}" name="godinaIzdavanja"/></td></tr>		
			<tr><th th:text="#{knjiga.kratakOpis}"></th><td><input type="text" th:value="${knjiga.kratakOpis}" name="kratakOpis"/></td></tr>
			<tr><th th:text="#{knjiga.cena}"></th><td><input type="number" th:value="${knjiga.cena}" name="cena"/></td></tr>
			<tr><th th:text="#{knjiga.brojStranica}"></th><td><input type="number" th:value="${knjiga.brojStranica}" name="brojStranica"/></td></tr>
			<tr><th th:text="#{knjiga.tipPoveza}"></th><td><input type="text" th:value="${knjiga.tipPoveza}" name="tipPoveza"/></td></tr>
			<tr><th th:text="#{knjiga.pismo}"></th><td><input type="text" th:value="${knjiga.pismo}" name="pismo"/></td></tr>
			<tr><th th:text="#{knjiga.jezik}"></th><td><input type="text" th:value="${knjiga.jezik}" name="jezik"/></td></tr>
			<tr><th th:text="#{knjiga.prosecnaOcena}"></th><td><input type="number" th:value="${knjiga.prosecnaOcena}" name="prosecnaOcena"/></td></tr>
			<tr th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'administrator'}"><th></th><td><input type="submit" value="Izmeni"/></td></tr>
			<tr></tr>
		</table>
	</form>
	
  	<div id="container" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'kupac'}">
       <div id="left">
			<img th:src="@{knjiga1.jpg}" alt="knjiga" width="150px" height="150px">
			
       </div>
       <div id="right">
	           <div class="grupacija" style="margin-left: auto; margin-right: auto; margin-top: 30px; margin-bottom: auto;">
				
				<form method="post" action="Komentari/Create">
					<table border="1" style="margin-left: auto; margin-right: auto;">
						<caption th:text="#{dodavanjeKomentara.pageTitle}"></caption>
						<tr><th th:text="#{komentari.tekstKomentara}"></th><td><input type="text" value=""  name="tekstKomentara" required/></td></tr>
						<tr><th th:text="#{komentari.ocena}"></th><td><input type="number" value="" name="ocena" required/></td></tr>
						<tr style="display:none;"><th></th><td><input type="hidden" name="datumPostavljanja" value="2021-02-14" required/></td></tr>
						<tr><th th:text="#{komentari.autor}"></th><td><input type="text" name="autorOznaka" th:value="${session.prijavljeniKorisnik.korisnickoIme}" readonly/></td></tr>
						<tr style="display:none;"><th></th><td><input type="hidden" name="knjigaId" th:value="${knjiga.id}"/></td></tr>
						<tr style="display:none;"><th></th><td><input type="hidden" value="Na cekanju" name="status"/></td></tr>
						<tr><th></th><td><input type="submit" th:value="#{dodavanjeKomentara.kreirajKomentar}"/></td>
					</table>
				</form>
				<p class="greska" th:text="${poruka}"></p>
				
				
			</div>
       </div>
       <div id="center">
        <div class="opis-knjige">
        	<b>Naziv: </b> <p th:text="${knjiga.naziv}"></p>
        </div>
        <div class="opis-knjige">
        	<b>Autor: </b> <p th:text="${knjiga.autor}"></p>
        </div>
        <div class="opis-knjige">
        	<b>Izdavacka Kuca:</b> <p th:text="${knjiga.izdavackaKuca}"></p>
        </div>
        <div class="opis-knjige">
        	<b>Godina izdavanja:</b> <p th:text="${knjiga.godinaIzdavanja}"></p>
        </div>
		<div class="opis-knjige">
        	<b>Cena:</b> <p th:text="${knjiga.cena}"></p>
        </div>
		<div class="opis-knjige">
        	<b>Pismo:</b> <p th:text="${knjiga.pismo}"></p>
        </div>
		<div class="opis-knjige">
        	<b>Kratak Opis:</b> <p th:text="${knjiga.kratakOpis}"></p>
        </div>
		<form method="post" action="ListaZelja/Create" style="margin-top: 15px;">
			<input type="hidden" name="knjigaId" th:value="${knjiga.id}"/>
			<input type="submit" value="Dodaj u listu zelja"/>
		</form>
		<form method="post" action="KorisnickaKorpa/Create" style="margin-top: 20px;">
			<input type="hidden" name="knjigaId" th:value="${knjiga.id}"/>
			<div>
				<table style="width: fit-content;">
					<tr><th>Unesite zeljenu kolicinu</th><td><input style="width:175px;" type="number" min="1" name="kolicina"/>
					<input type="submit" value="Dodaj u korpu"/></td></tr>	
				</table>
			</div>
		</form>
       </div>
     </div>
		
				<!-- <form method="post" action="ListaZelja/Create">
					<input type="hidden" name="knjigaId" th:value="${knjiga.id}"/>
					<input type="submit" value="Dodaj u listu zelja"/>
				</form>-->
			<table th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'administrator'}" class="centriraj">
				<tr>
					<td>
						<ul>
							<li>
								Broj preostalih primeraka:<input type="number" th:value="${knjiga.brojPrimeraka}" name="brojPrimeraka"/><br>		
								<h3 th:text="#{knjiga.naruciKnjige}"></h3>	
								<form method="post" action="Knjige/Poruci"> 
									<input type="hidden" th:value="${knjiga.id}" name="id"/>
									<input type="number" name="brojPrimeraka">		
									<button type="submit" th:text="#{knjiga.naruci}"></button>
								</form>
							</li>
						</ul>
					</td>
				</tr>
			</table>
			
			<!-- <div class="grupacija" style="margin-left: auto; margin-right: auto; margin-top: 30px">
				
				<form method="post" action="Komentari/Create">
					<table border="1" style="margin-left: auto; margin-right: auto;">
						<caption th:text="#{dodavanjeKomentara.pageTitle}"></caption>
						<tr><th th:text="#{komentari.tekstKomentara}"></th><td><input type="text" value=""  name="tekstKomentara" required/></td></tr>
						<tr><th th:text="#{komentari.ocena}"></th><td><input type="number" value="" name="ocena" required/></td></tr>
						<tr><th></th><td><input type="hidden" name="datumPostavljanja" value="2021-02-14" required/></td></tr>
						<!-- <tr><th>Autor:</th><td><input type="text" name="autorOznaka" th:value=${prijavljeniKorisnik.korisnickoIme}/></td></tr> 
						<tr><th th:text="#{komentari.autor}"></th><td><input type="text" name="autorOznaka" th:value="${session.prijavljeniKorisnik.korisnickoIme}"/></td></tr>
						<tr><th></th><td><input type="hidden" name="knjigaId" th:value="${knjiga.id}"/></td></tr>
						<tr><th></th><td><input type="hidden" value="Na cekanju" name="status"/></td></tr>
						<tr><th></th><td><input type="submit" th:value="#{dodavanjeKomentara.kreirajKomentar}"/></td>
					</table>
				</form>
				<p class="greska" th:text="${poruka}"></p>
				
				
			</div> -->
			
			<!-- <form method="post" action="Delete">
				<input type="hidden" name="id" th:value="${knjiga.id}"/>
				<table>
					<tr><td><input type="submit" value="Obriši knjigu"/></td></tr>
				</table>
			</form>  -->	
		
			
			<br>
				
			
	<form method="get">
		<table class="tabela" border="1" style="margin-left: auto; margin-right: auto; margin-bottom: 15px;">
			<caption>Komentari izabrane knjige</caption>
			<tr>
				<th>Id</th>
				<th>Tekst Komentara</th>
				<th>Ocena</th>
				<th>Datum Postavljanja</th>
				<th>Autor</th>
				<th>Knjiga za koju je vezan</th>
				<th>Status</th>
			</tr>
			<tr th:each="komentar, status: ${komentari}" th:if="${komentar.status == 'Odobren' and komentar.knjiga.naziv == knjiga.naziv}">
				<td>
					<a th:href="|Komentari/Details?id=${komentar.id}|"th:text="${komentar.id}"></a>
				</td>
				<td th:text="${komentar.tekstKomentara}"></td>
				<td class="broj" th:text="${komentar.ocena}"></td>
				<td th:text="${komentar.datumPostavljanja}"></td>
				<td th:text="${komentar.autor.korisnickoIme}"></td>
				<td th:text="${komentar.knjiga.naziv}"></td>
				<td th:text="${komentar.status}"></td>
			</tr>
		</table>
	</form>
	<br><br>
	<div th:insert="footer :: footer">...</div>			
</body>
</html>