<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="#{korisnici.pageTitle}"></title>
	<link rel="stylesheet" type="text/css" href="css/TabelaKnjiga.css"/>
	<link rel="stylesheet" type="text/css" href="css/footer.css"/>
	<link rel="stylesheet" type="text/css" href="css/navbar.css"/>
	
</head>
<body>
	
	<div th:insert="navbar :: navbar">...</div>

	<div style="float:right">
			<h4 th:text="#{lang.change}"></h4>
		<ul>
			<li><a href="Korisnici/menjajLokalizacijuNaSrpski" th:text="#{lang.sr}"></a></li>
			<li><a href="Korisnici/menjajLokalizacijuNaEngleski" th:text="#{lang.eng}"></a></li>
		</ul>
	</div>
	<table th:if="${session.prijavljeniKorisnik != null}">
		<tr><th th:text="#{knjige.loggedIn}"></th><td><a th:href="|Korisnici/Details?korisnickoIme=${session.prijavljeniKorisnik.korisnickoIme}|" th:text="${session.prijavljeniKorisnik.korisnickoIme}"></a>.</td></tr>
		<tr>
			<td colspan="2">
				<ul>
					<li><a href="Korisnici/Logout" th:text="#{knjige.logOut}"></a></li>
				</ul>
			</td>
		</tr>
	</table>

	<form method="get">
		<table class="tabela">
			<caption th:text="#{korisnici.pageTitle}"><b></b></caption>
			<tr>
				<th th:text="#{korisnici.ime}">Ime</th>
				<th th:text="#{korisnici.prezime}">Prezime</th>
				<th th:text="#{korisnici.email}">Email</th>
				<th th:text="#{korisnici.adresa}">Adresa</th>
				<th th:text="#{korisnici.telefon}">Telefon</th>
				<th th:text="#{korisnici.korisnickoIme}">KorisnickoIme</th>
				<th th:text="#{korisnici.Lozinka}">Lozinka</th>
				<th th:text="#{korisnici.datumRodjenja}">DatumRodjenja</th>
				<th th:text="#{korisnici.datumRegistracije}">DatumRegistracije</th>
				<th th:text="#{korisnici.uloga}">Uloga</th>
			</tr>
			<tr th:each="korisnik, status: ${korisnici}">
				<td th:text="${korisnik.ime}"></td>
				<td th:text="${korisnik.prezime}"></td>
				<td th:text="${korisnik.email}"></td>
				<td th:text="${korisnik.adresa}"></td>
				<td th:text="${korisnik.telefon}"></td>
				<td> <a th:href="|Korisnici/Details?korisnickoIme=${korisnik.korisnickoIme}|"th:text="${korisnik.korisnickoIme}"></a></td>
				<td th:text="${korisnik.lozinka}"></td>
				<td th:text="${korisnik.datumRodjenja}"></td>
				<td th:text="${korisnik.datumRegistracije}"></td>
				<td th:text="${korisnik.uloga}"></td>

			</tr>
		</table>
	</form>
	
	<ul>	
		<li><a href="/KnjizaraProjekat">Nazad na pocetnu</a></li>
	</ul>
	
	<footer>
		 <div class="footer_adress" style="margin: 15px 50px">
            <h1> Logo </h1>
            <h2>Contact: 065/333-9208</h2>
            <address>
            	Miloska ulica 3, Novi Sad
            <br>
            </address>
            <a class="email_btn" href="mailto:example@gmail.com" style="color:white; margin-top:15px; background:none">Email Us</a>
            
        </div>
        
        <ul class="footer_nav">
            <li class="nav_item">
                <h2 class="nav_title" style="margin-top:15px">Media</h2>
                <ul class="nav_ul">
                    <li>
                        <a href="#">Online</a>
                    </li>
                    <li>
                        <a href="#">Print</a>
                    </li>
                    <li>
                        <a href="#">Alternative Ads</a>
                    </li>
                    <li>
                        <a href="#">Become sponsor</a>
                    </li>
                </ul>
            </li>

            <li class="nav_item nav_item--extra">
                <h2 class="nav_title" style="margin-top:15px">Usluge</h2>
                <ul class="nav_ul nav_ul--extra">
                    <li>
                        <a href="#">Kupujte kod nas</a>
                    </li>
                    <li>
                        <a href="#">Iznajmljujte</a>
                    </li>
                    <li>
                        <a href="#">Narucujte</a>
                    </li>
                    <li>
                        <a href="#">Sedite</a>
                    </li>
                    <li>
                        <a href="#">Ocenjujte</a>
                    </li>
                    <li>
                        <a href="#">Uzivajte</a>
                    </li>
                </ul>
            </li>

            <li class="nav_item">
                <h2 class="nav_title" style="margin-top:15px">Legal</h2>

                <ul class="nav_ul">
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Terms of Use</a>
                    </li>
                    <li>
                        <a href="#">Security</a>
                    </li>
                    <li>
                        <a href="#">Report</a>
                    </li>
                </ul>
            </li>
            
        </ul>
	    <hr style="margin-top:15px;">
        <div class="legal" style="margin-top:25px; margin-bottom:15px">
            <span>
            	&copy; 2019 Barcode. All rights reserved for owner.
            </span>
            <div class="legal_links">
                <span>
                	Made by owner of everything
                </span>
            </div>
        </div>
	         
	</footer>
	
</body>
</html>