<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" type="text/css" href="css/TabelaKnjiga.css"/>

</head>
<body>
<br>
	<table th:if="${session.prijavljeniKorisnik != null}">
		<tr><th th:text="#{knjige.loggedIn}"></th><td><a th:href="|Korisnici/Details?korisnickoIme=${session.prijavljeniKorisnik.korisnickoIme}|" th:text="${session.prijavljeniKorisnik.korisnickoIme}"></a>.</td></tr>
		<tr>
			<td colspan="2">
				<ul>
					<li><a href="Korisnici/Logout" th:text="#{knjige.logOut}"></a></li>
				</ul>
			</td>
		</tr>
	</table>
	
	<br><br>
	<form method="get">
		<table class="tabela">
			<caption>Kupovine</caption>
			<tr>
			<th>Id</th>
			<th>Naziv knjiga</th>
			<th>Autor</th>
			<th>Kolicina primeraka</th>
			<th>Cena Knjige</th>
			<th>Ukupna cena</th>
			</tr>
			<tr th:each="stavka, status: ${stavke}">
					<td th:text="${stavka.id}"></td>
					<td th:text="${stavka.knjiga.naziv}"></td>
					<td th:text="${stavka.knjiga.autor}"></td>
					<td th:text="1"></td>
					<td th:text="${stavka.knjiga.cena}"></td>
					<td th:text = "${stavka.knjiga.cena}"></td>
					<td>
						<a th:href="|KorisnickaKorpa/Delete?id=${stavka.id}|"th:text="Delete"></a>
					</td>
			</tr>
			
			
		</table>
	</form>
	
	
</body>
</html>