<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base href="/KnjizaraProjekat/">
	<link rel="stylesheet" type="text/css" href="static/css/TabelaKnjiga.css"/>
	<title th:text="#{login.prijava}"></title>
	<link rel="stylesheet" type="text/css" href="css/navbar.css"/>
	<link rel="stylesheet" type="text/css" href="css/footer.css"/>
	<link rel="stylesheet" type="text/css" href="css/login.css"/>
</head>
<body>
	<div th:insert="navbar :: navbar">...</div>
	
	<div class="center">
		<h1>Login</h1>
		<form method="post" action="Korisnici/Login">
			<div class="txt_field">
				<input type="text" name="korisnickoIme" placeholder="Korisnicko Ime" required>
				<span></span>				
			</div>
			<div class="txt_field">
				<input type="password" name="lozinka" placeholder="Lozinka" required>
				<span></span>
			</div>
			<div class="pass">Forgot password?</div>
			<input type="submit" value="Login">
			<div class="signup_link">
				Nemate nalog?<a href="registracija.html">Registracija</a>
			</div>
		</form>
	</div>
	
	<br>
	<p class="greska" th:text="${poruka}"></p>
	
	<div th:insert="footer :: footer">...</div>

</body>
</html>
