<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/navbar.css"/>
	<title>Navbar</title>
</head>
<body>
	<nav th:fragment="navbar" style="background:#865439">
		<input type="checkbox" id="check">
		<label for="check" class="checkBtn">
			<i class="fas fa-bars" id="activeBars"></i>
		</label>
		<a href="/KnjizaraProjekat"><label class="logo">LOGO</label></a>
		<ul>
			<li><a href="/KnjizaraProjekat">Pocetna</a></li>
			<li th:if="${session.prijavljeniKorisnik == null}"><a href="login.html">Prijava</a></li>
			<li th:if="${session.prijavljeniKorisnik == null}"><a href="registracija.html">Registracija</a></li>
			
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'kupac'}"><a href="Knjige">Knjige</a></li>
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'kupac'}"><a href="KorisnickaKorpa">Moja korpa</a></li>
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'kupac'}"><a href="#about">About</a></li>
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'kupac'}"><a href="#pogodnosti">Pogodnosti</a></li>
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'kupac'}"><a th:href="|Korisnici/Details?korisnickoIme=${session.prijavljeniKorisnik.korisnickoIme}|" th:text="${session.prijavljeniKorisnik.korisnickoIme}"></a></li>
			
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'administrator'}"><a href="Knjige">Knjige</a></li>			
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'administrator'}"><a href="Korisnici">Korisnici</a></li>
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'administrator'}"><a href="#services">Services</a></li>
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'administrator'}"><a th:href="|Korisnici/Details?korisnickoIme=${session.prijavljeniKorisnik.korisnickoIme}|" th:text="${session.prijavljeniKorisnik.korisnickoIme}"></a></li>
			<li th:if="${session.prijavljeniKorisnik != null}"><a href="Korisnici/Logout" th:text="#{knjige.logOut}"><button>Odjavite se</button></a></li>	
			
		</ul>
	</nav>
</body>
</html>