<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<base href="/KnjizaraProjekat/">
<meta charset="UTF-8">
<title th:text="#{stavkakorpe.stavka}"></title>
<link rel="stylesheet" type="text/css" href="css/TabelaKnjiga.css"/>
</head>

<body>
	<form method="post" action="Kupovine/Create" th:if="${session.prijavljeniKorisnik != null}">
		<table border="1" class="tabela">
			<caption th:text="#{stavkakorpe.stavka}"></caption>
			<tr><th th:text="#{stavkakorpe.knjigaId}"></th><td><input type="number" th:value="${stavkaKorpe.knjiga.id}" name="knjigaId" readonly/></td></tr>
			<tr><th th:text="#{stavkakorpe.nazivKnjige}"></th><td><input type="text" th:value="${stavkaKorpe.knjiga.naziv}" name="naziv" readonly/></td></tr>
			<tr><th th:text="#{stavkakorpe.autorKnjige}"></th><td><input type="text" th:value="${stavkaKorpe.knjiga.autor}" name="autor" readonly/></td></tr>
			<tr><th th:text="#{stavkakorpe.kolicina}"></th><td><input type="number" th:value="${stavkaKorpe.kolicina}" name="brojKupljenihKnjiga"/></td></tr>
			<tr><th th:text="#{stavkakorpe.cenaPojedinacno}"></th><td><input type="number" th:value="${stavkaKorpe.knjiga.cena}" name="cenaPojedinacno" readonly/></td></tr>
			<tr><th th:text="#{stavkakorpe.ukupnaCena}"></th><td><input type="number" th:value="${stavkaKorpe.knjiga.cena * stavkaKorpe.kolicina}" name="ukupnaCena" readonly/></td></tr>
			<tr><th th:text="#{stavkakorpe.musterijaOznaka}"></th><td><input type="text" th:value="${session.prijavljeniKorisnik.korisnickoIme}" name="musterijaOznaka" readonly/></td></tr>
			<!-- <tr><th></th><td><input type="text" name="datumKupovine" value="2021-11-06"/></td></tr> -->
			<tr><th th:text="#{stavkakorpe.datumKupovine}"></th><td><input type="date" name="datumKupovine"/></td></tr>
			
			<tr>
			<td></td>
			<td><input type="submit" th:value="#{stavkakorpe.zavrsiKupovinu}"/></td>
		</table>
	</form>
	
		<ul>	
			<li><a href="KorisnickaKorpa" th:text="#{stavkakorpe.nazad}"></a></li>
			<li><a href="/KnjizaraProjekat">Pocetna</a></li>
		</ul>
			
				
</body>
</html>